@font-face {
font-family: "Coco Gothic Regular";
src: url("fonts/Coco-Gothic/Coco\ Gothic\ Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}


html {
  background-color: #FFF;
  font-family: "Coco Gothic Regular", sans-serif;
  color: #2F2F2F; /*#d9d8d6;*/
  font-weight: normal;
  text-align: center;
  font-size: 13px;
  background-image: url("../images/wave.jpg");
  background-color: #DBDED7;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,body{ margin:0; padding:0; height:100%; width:100%; }


header h1 {
  font-size: 80px;
  font-weight: normal;
  color: #2F2F2F;
}

header p {
  color: #2F2F2F;
  line-height: 1.5;

}



#mainscreen {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
  /* if I want to use the wave image only for the main landing page.
  background-image: url("../images/wave.jpg");
  background-color: #DBDED7;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}

#about-me {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#portfolio {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#experience {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

#contact {
  height:100%;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
}


/*navigation bar*/

.main-nav {
    color: #2F2F2F;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    display:inline-block;
}

.main-nav:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s, background-color 0.5s;
}

.main-nav:hover:after {
    width: 100%;
    background: #F7CCD6;
    text-decoration:none;
 /*    text-shadow: 2px 2px 5px #FFF;
     cursor:pointer;*/
}

/*end navigatin bar*/




/*Bottom navigation bar*/

.second-nav {
  display: block;
  position: absolute;
  bottom: 0;
  left:25%;
  }


.bottom-nav {
    color: #424242;
    text-decoration: none;
    padding: 7px;
    display:inline-block;
}


.bottom-nav:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s, background-color 0.5s;
}

.bottom-nav:hover:after {
    width: 100%;
    background: #424242;
    text-decoration:none;
}

/*End of Bottom Nav Bar*/



#about-me-left {
  float: left;
  height:100%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}


#aboutmetext {
  width:200px;
  height:200px;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;
  position:absolute;
}


#about-me-right {
  float: right;
  height:100%;
  width: 50%;
  vertical-align: middle;
  background-color: #FFF;
  position: relative;
}

#myprofile {
  width: 150px;
  height: 150px;
  position: absolute;
  top:10%;
  left:15%;
}

#about-me-right p{
  position: absolute;
  top: 35%;
  left:15%;
  text-align: left;
  overflow: auto;
  height: 50%;
  width: 70%;
}

#portfolio-left {
  float: left;
  height:100%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #e9e6f7;
  position: relative;
}

#portfoliotext {
  width:200px;
  height:200px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -100px;
  margin-left:-100px;
}

#portfolio-right {
  float: right;
  height:100%;
  width: 50%;
  vertical-align: middle;
  position: relative;
}


#experience-left {
  float: left;
  height:100%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

#experiencetext {
  width:200px;
  height:200px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -100px;
  margin-left:-100px;
}

#experience-right {
  float: right;
  height:100%;
  width: 50%;
  vertical-align: middle;
  background-color: #FFF;
  position: relative;
}

#experience-right p{
  position: absolute;
  top: 10%;
  left: 15%;
  text-align: left;
  overflow: auto;
  height: 80%;
  width: 70%;
}

#contact-left {
  float: left;
  height:100%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  background-color: #F3D9DF;
  position: relative;
}


#contactmetext {
  width:200px;
  height:200px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -100px;
  margin-left:-100px;
}


#contact-right {
  float: right;
  height:100%;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


#contact-icons {
  font-size:30px;
  position: absolute;
  margin-top: 30px;
}


/* Wave Picture Theme: Color Palette: #AEEBF9, #CCF2F0, #F8FCE2, #FCE5CD, #FEC593, #DCDEFB*/

ul#contactinfo{
  list-style-type: none;
}




/*light beige/grey
#d9d8d6

Teal / green
#009081

baby grey blue
#9db5cb
#90a6c0

dark green

#003326
darker green
00251B

Yellow
#f7f304



After overlay
#004B35
#00C5B3
#DCE7F1
#EBEBE6
#FBF906


Off white
F1F1F1
*/
